.intro {
    background-color:bisque ;
    text-align: center;
    font-size: 50px;
}
.intro > p {
    padding-top: 0px;
}

.profile {
    background-color: aquamarine;
    padding-top: 100px;
}

.hobby {
    display: flex;
    justify-content: center;
}
.skill {
    display: flex;
    justify-content: center;
}
ifram {
    height: 400px;
    width: auto;
}